*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  background: linear-gradient(rgb(241,80,107), yellow);
}

input {
  min-width: 50vw;
  padding: 20px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  margin: 30px 450px;
}

.users, .d-flex{
  display: flex;
  justify-content: space-between;
}

.users {
  padding: 30px 450px;
  margin-right: 100px;
}

/* .usergroup {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  height: 90vh;
  align-items: center;
  top: 56%;
  left: 50%;
  position: absolute;
  padding: 0px 15px;
  transform: translate(-50%, -50%);
  justify-content: space-evenly;
} */

.usergroup {
  display: grid;
  grid-template-columns: 550px 50px;
   grid-auto-flow: row;
  grid-auto-rows: 150px;
  /*grid-gap: 5px;
  overflow: auto; */
}

.user-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
}

.d-flex {
  background: white;
  padding: 10px;
  border-radius: 10px;
}